In [1]:
import pandas as pd
path = "./csv/"

In [2]:
!python make_data.py

15598
3343
3343
C:\Users\keisc\Documents\GitHub\moriyama_study/data/train.tsv
C:\Users\keisc\Documents\GitHub\moriyama_study/data/test.tsv
C:\Users\keisc\Documents\GitHub\moriyama_study/data/val.tsv

  0%|          | 0/15598 [00:00<?, ?it/s]

  0%|          | 0/3343 [00:00<?, ?it/s]


  0%|          | 0/3343 [00:00<?, ?it/s]
100%|##########| 15598/15598 [00:00<00:00, 269014.67it/s]

100%|##########| 3343/3343 [00:00<00:00, 122296.67it/s]

100%|##########| 3343/3343 [00:00<00:00, 107544.61it/s]

In [19]:
def summary_df(path):
    df = pd.read_csv(path)
    return df["predict"].value_counts()[:10]

In [20]:
summary_df(path + "result_Seq2seq.csv")

あー           6662
あ            2888
そうなんですか      1770
はい           1041
そうですよね       1036
そう            931
そうなんですね       637
あーそうなんですね     573
そうですか         506
あそうなんですね      432
Name: predict, dtype: int64

In [7]:
summary_df(path + "result_transformer.csv")

あー           1673
うーん          1566
そうですね         923
へえ            833
あそうなんですか      748
あはい           710
あ             694
あーそうなんですね     683
そうですよね        597
あそうなんですね      587
Name: predict, dtype: int64

In [8]:
summary_df(path + "result_bert_embedded_seq2seq.csv")

あー           12090
あーそうなんですね     3436
そうですか         1116
ああ             735
はあ             165
そうですね          156
あ               94
あーそうですか         45
そうですよね          45
うーん             35
Name: predict, dtype: int64

In [9]:
summary_df(path + "result_bert_embedded_transformer.csv")

あー           3180
うーん          1532
そうですね        1060
あーそうなんですね     922
あーそうなんですか     847
へえ            836
あ             826
ああ            732
あはい           412
あそうなんですか      394
Name: predict, dtype: int64

In [5]:
df = pd.read_table("./data/data/data.tsv", index = False)

TypeError: read_table() got an unexpected keyword argument 'index'

In [6]:
df

                        子供がですね3人あの         ああ
0          子供がですね3人あの女の子ばっかしなんですけど    あーそうですか
1          子供がですね3人あの女の子ばっかしなんですけど          あ
2      子供がですね3人あの女の子ばっかしなんですけど産まれて         へー
3      子供がですね3人あの女の子ばっかしなんですけど産まれて   あそうですかええ
4      子供がですね3人あの女の子ばっかしなんですけど産まれて  そうなんですかはい
...                            ...        ...
22278                          ないと      そうですか
22279                   いう事でしょうかはい  ないですかはいはい
22280                   いう事でしょうかはい  あーそうなんですか
22281                   いう事でしょうかはい       あっはい
22282                   いう事でしょうかはい      そうかはい

[22283 rows x 2 columns]