In [31]:
import pandas as pd
path = "./csv/test/"

In [37]:
def summary_df(path):
    df = pd.read_csv(path)
    return df["predict"].value_counts(normalize = True)[:10]*100

In [38]:
summary_df(path + "result_Seq2seq.csv")

あー           35.261490
あ            15.649762
そうなんですか       8.914422
そう            5.467512
はい            5.348653
そうですよね        5.190174
そうなんですね       3.724247
あーそうなんですね     3.169572
あそうなんですね      2.694136
そうですか         2.535658
Name: predict, dtype: float64

In [39]:
summary_df(path + "result_transformer.csv")

あー           10.488959
うーん           9.424290
そうですね         5.717666
あはい           4.219243
へえ            4.100946
あそうなんですか      3.746057
あ             3.509464
あーそうなんですね     3.430599
そうですよね        3.233438
あそうなんですね      3.075710
Name: predict, dtype: float64

In [40]:
summary_df(path + "result_bert_embedded_seq2seq.csv")

あー           63.919558
ああ            4.652997
そうですよね        3.706625
そうですね         2.878549
あーそうなんですね     2.523659
はー            2.168770
えー            1.813880
あーそうですかー      1.735016
そうなんですね       1.695584
あーそうですねー      1.537855
Name: predict, dtype: float64

In [41]:
summary_df(path + "result_bert_embedded_transformer.csv")

あー           22.949527
うーん           8.201893
あーそうなんですね     7.255521
そうですね         5.086751
あ             4.337539
あーそうなんですか     3.746057
ああ            3.509464
あはい           2.996845
へえ            2.602524
そうですよね        1.813880
Name: predict, dtype: float64

In [42]:
pd.read_csv('./data/data.csv')['output'].value_counts(normalize = True)[:10] * 100

あー       4.379824
うーん      3.935559
へえ       3.186143
あ        2.661102
そうですね    2.252737
ああ       2.091187
あはい      1.777060
へー       1.265482
はあ       1.130856
あっ       1.099444
Name: output, dtype: float64

In [43]:
path = "./data/data.tsv"

In [44]:
input, output = [], []
with open(path, mode = 'r', encoding = "utf-8") as f:
    for f_list in f.readlines():
        # print(f_list)
        tmp = f_list.split('\t')
        input.append(tmp[0])
        output.append(tmp[1].replace("\n", ""))

In [45]:
df = pd.DataFrame({'input':input, 'output':output})

In [46]:
df

                             input     output
0                       子供がですね3人あの         ああ
1          子供がですね3人あの女の子ばっかしなんですけど    あーそうですか
2          子供がですね3人あの女の子ばっかしなんですけど          あ
3      子供がですね3人あの女の子ばっかしなんですけど産まれて         へー
4      子供がですね3人あの女の子ばっかしなんですけど産まれて   あそうですかええ
...                            ...        ...
22279                          ないと      そうですか
22280                   いう事でしょうかはい  ないですかはいはい
22281                   いう事でしょうかはい  あーそうなんですか
22282                   いう事でしょうかはい       あっはい
22283                   いう事でしょうかはい      そうかはい

[22284 rows x 2 columns]

In [47]:
df.to_csv(path.replace('tsv', 'csv'), index = False)