In [1]:
import pandas as pd

In [2]:
!python make_data.py

15598
3343
3343
C:\Users\keisc\Documents\GitHub\moriyama_study/data/train.tsv
C:\Users\keisc\Documents\GitHub\moriyama_study/data/test.tsv
C:\Users\keisc\Documents\GitHub\moriyama_study/data/val.tsv

  0%|          | 0/15598 [00:00<?, ?it/s]

  0%|          | 0/3343 [00:00<?, ?it/s]


  0%|          | 0/3343 [00:00<?, ?it/s]
100%|##########| 15598/15598 [00:00<00:00, 264536.37it/s]

100%|##########| 3343/3343 [00:00<00:00, 115339.22it/s]

100%|##########| 3343/3343 [00:00<00:00, 92914.00it/s]

In [3]:
path = "./data/data/"
df = pd.read_table(path+"data.tsv", header = None, names = ["input", "output"]).sort_values('input')

In [4]:
train_df =  pd.read_table(path+"test.tsv", header = None, names = ["input", "output"]).sort_values('input')

In [5]:
train_df

                       input      output
788                    15分前に      予定通りああ
967                  1964年昭和    あーはいはいはい
813            1回も行っておりませんので  あーそーなんですねー
942          1回も行っておりませんのでもう   お姉ちゃんといつも
1009  20代だいぶ昔の話ですけれども20代の後半に           あ
...                      ...         ...
71           駅のそばにあるドトールコーヒー     あードトールの
785                     駒回しと        こま回し
863                       鬼を        そうそう
1012         鬼怒川温泉の旅行に行きました時       鬼怒川温泉
980                  麻雀をするとか       あー麻雀も

[1213 rows x 2 columns]

In [6]:
df

            input         output
15466       11時半頃     いらっしゃったうーん
15465       11時半頃          十一時半に
17222    15分ぐらいまで            十五分
17221    15分ぐらいまで             あっ
17223  15分ぐらいまで駅に          15分はい
...           ...            ...
14407     麻雀をするとか  麻雀もおやりになるんですね
14406     麻雀をするとか            あはい
14405     麻雀をするとか        あーあはいはい
14404     麻雀をするとか          あ麻雀はい
14403     麻雀をするとか          あー麻雀も

[22284 rows x 2 columns]

In [7]:
cols = ["input", "output", "predict"]
test_df = pd.DataFrame(index = [], columns = cols)
for input in train_df["input"]:
    test_df = test_df.append(df[df["input"] == input])

In [8]:
test_df.groupby(["input"], as_index = False).agg({
    "output" : list
})

,input,output
0,15分前に,"[予定通りああ, や, 凄いです, あっ]"
1,1964年昭和,"[うんうーん六十四年, あーはいはいはい]"
2,1回も行っておりませんので,"[あーそうなんですね, あー遠のいてしまったんですね, そうなんですか, うーんうーん, あ..."
3,1回も行っておりませんのでもう,[お姉ちゃんといつも]
4,20代だいぶ昔の話ですけれども20代の後半に,[あ]
...,...,...
1208,駅のそばにあるドトールコーヒー,"[あドトールに, あはい, あードトールの]"
1209,駒回しと,[こま回し]
1210,鬼を,[そうそう]
1211,鬼怒川温泉の旅行に行きました時,"[あはいいいですね, 鬼怒川温泉, そうなんですねうんうん, あーはい]"
1212,麻雀をするとか,"[あーおおおお, 麻雀もおやりになるんですね, あはい, あーあはいはい, あ麻雀はい, あ..."

In [12]:
df[df["input"] == "1964年昭和"]

         input     output
13309  1964年昭和  うんうーん六十四年
13308  1964年昭和   あーはいはいはい